h1 {
	font-family: 'Comic Sans MS';
}

body {
	background-image: url('images/poster.jpeg');
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	color: #EFEFEF;
	font-size: 14px;
	font-family: "Comic Sans MS", sans-serif;
}

form {
	width: 70%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 5px;
	text-align: center;
    border: solid;
    border-color: #EFEFEF;
}

label {
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    width: 50px;
    padding: 5px;
    border: none;
    background-color: #b71c1c;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: border-color 0.3s ease-in-out;
    outline: none;
	margin: 5px;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border-bottom: 2px solid #b71c1c;
}

button {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    transition: background-color 0.3s ease-in-out;
    margin: 5px;
}

#impostor-button, #start-game {
    background-color: #000000;
    border: solid;
    border-color: #EFEFEF;
}

#impostor-button:hover, #start-game:hover {background-color: #b71c1c;}
