body {
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

#user-list {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
}

#user-list-item {
    font-size: 18px;
    margin: 5px;
}
