h1 {
	font-family: 'Comic Sans MS';
}

button {
	width: 100%;
	max-width: 10rem;
	border-radius: 1rem;
}

body {
	background-image: url('images/poster.jpeg');
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	color: #EFEFEF;
	font-size: 14px;
	font-family: "Comic Sans MS", sans-serif;
	text-align: left;
	margin: 8%;
}

img {
	width: 100%;
}

.role {
	color: #EFEFEF;
	font-size: 14px;
	font-family: "Comic Sans MS", sans-serif;
}

form {
	width: 100%;
    padding: 10px;
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 5px;
	text-align: left;
	align-items: center;
	border: solid;
    border-color: #EFEFEF;
}

#enable-sound {
	color: #EFEFEF;
	background-color: #000000;
    border: solid;
    border-color: #EFEFEF;
}

#report, #emergency-meeting {
	background-color: #000000;
    border: solid;
    border-color: #EFEFEF;
}

#enable-sound:hover, #report:hover, #emergency-meeting:hover {background-color: #b71c1c;}
p {font-weight: bold;}
